@font-face {
    font-family: Merriweather;
    src: url(Merriweather-Regular.ttf); /* bruh do them all, lazy -_- */
}

* {
    font-family: Merriweather;
    text-align: center;
}
html {
    background: #000;
}
body {
    background: linear-gradient(#ccc, #777); /* TODO: js bb */
    padding: 1em;
}

ul {
    display: inline-block;
    list-style-type: '> ';
}
h2 {
    font-weight: normal;
}

a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #666;
}
a:active {
    color: #900;
}
